.about {
    &__main {
        padding-right: 20px;

        & > h2 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        p {
            padding-bottom: 30px;
            margin-bottom: 0;

        }
    }

    &__history {
        ul {
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
        }
        
        li {
            flex: 1 1 auto;
            position: relative;

            @media screen and (min-width: 768px) {
                padding: 0 20px;
                flex: 1 1 150px;
            }

            &:first-child {
              padding-left: 0;
            }


            &::after {
                @media screen and (min-width: 768px) {
                    position: absolute;
                    content: '';
                    display: block;
                    background-color: #e7e8ea;
                    height: 520px;
                    width: 1px;
                    right: 0;
                    top: 0;
                }       
            }
            h4 {
                font-weight: bold;

            }
            p {
                font-size: 12px;
            }
        }
    }

    &__partners {
        margin: 0 auto;

        h2 {
            margin-top: 30px;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }

        &-img {
            margin: 40px auto 50px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            height: 600px;

            @media screen and (max-width: 768px) {
                background-image: url(../images/partners_mobile.png);
            }
         }
    }
}
