.about {
  padding-bottom: 60px;
  border-bottom: #dad9d8 1px solid;

  &__main {
    text-align: center;
  }

  &__main-link {
    display: block;
    margin-top: 32px;
    color: #4880ed;
    font-weight: 700;
  }
}