.about {
  &__main {
    & > h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    p {
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  }

  &__history {
    ul {
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;

      @media screen and (min-width: 768px) {
        margin: 0 -20px;
      }
    }

    li {
      flex: 1 1 auto;
      position: relative;

      @media screen and (min-width: 768px) {
        border-right: 1px solid #e7e8ea;
        flex: 1 1 150px;
        padding: 0 20px;

        &:last-child {
          border-right: none;
        }
      }

      h4 {
        font-weight: bold;
      }

      p {
        font-size: 12px;
        padding-bottom: 10px;
      }
    }
  }

  &__partners {
    margin: 0 auto;

    h2 {
      margin-top: 30px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }

    &-img {
      margin: 40px auto 50px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      height: 600px;
      background-image: url(../images/partners.jpg);

      @media screen and (max-width: 768px) {
        background-image: url(../images/partners_mobile.png);
      }
    }
  }
}
