.article {

  &__header {
    margin-bottom: 22px;

    h1 {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 22px;
    }

    time {
      line-height: 1;
    }
  }

  &__main {
    max-width: 600px;
    line-height: 22px;
    padding-bottom: 35px;

    img {
      display: inline-block;
      max-width: 100%;
      margin: 40px 0 20px 0;

      & + div {
        text-align: center;
        color: #929399;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }

    ul {
      list-style: none;
      margin: 16px 0 16px 0;

      li {
        margin-bottom: 20px;

        &::before {
          content: "•";
          display: inline-block;
        }
      }
    }

    h3 {
      text-align: left;
      text-transform: none;
      line-height: 30px;
    }
  }

  &__footer {
    margin-bottom: 55px;
  }

  &__tags {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__tags-link {
    display: block;
    padding: 14px 26px;
    line-height: 14px;
    background-color: #e9eaf4;
    font-size: 12px;
    cursor: pointer;
  }
}