.declarations {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 516px;

  &__graph {
    position: relative;
    flex: 0 0 170px;
  }

  &__graph-canvas {
    position: absolute;
    left: -340px;
    top: -230px;
    transform: scale(.5) scaleY(-1) rotate(90deg);
  }

  &__total {
    position: absolute;
    right: 0;
    bottom: 130px;
    text-align: right;
  }

  &__total-value {
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__data {
    flex: 1 1 auto;
    border-left: #dad9d8 1px solid;
    padding-left: 32px;
    margin-left: 32px;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__tabs {
    list-style: none;
    margin-bottom: 28px;
  }

  &__tabs-item {
    display: inline-block;
    margin-right: 27px;
    cursor: pointer;

    &_active {
      font-weight: bold;
    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    list-style: none;
    font-size: 14px;
    max-height: 440px;
  }

  &__list-item {
    //flex: 1 1 16px;
    margin-bottom: 10px;
    width: 46%;

    span {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-right: 12px;
      background-color: #90c8e6;
    }
  }

  &__list-item-value {
    display: inline-block;
    float: right;
    font-weight: 700;
  }
}