.docs {
  padding-bottom: 60px;
  border-bottom: #dad9d8 1px solid;

  &__attention {
     color: #b8312f;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 6px;
    list-style: none;
  }

  &__item {
    flex: 0 1 32%;
    padding: 32px;
    margin: 0 0 20px 0;
    box-shadow: 0 0 9px rgba(174, 174, 174, 0.75);
    border: 1px solid rgba(72, 128, 237, 0.15);
    background-color: rgba(86, 145, 241, 0);
    font-weight: 700;
    
    @media screen and (max-width: 620px) {
      flex: 0 0 100%;
    }

    @media screen and (max-width: 768px) {
      flex: 1 0 32%;
    }
    

    a {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  &__item-icon {
    flex: 0 0 26px;
    text-align: center;
    margin-right: 28px;
    color: #5691f1;

    i {
      width: 53px;
      height: 53px;
      margin-bottom: 12px;
    }
  }

  &__slider-content {
    /*height: 570px;*/
    /*overflow: hidden;*/
  }
}
