.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__head {
    width: var(--max-content-width);
    margin: 0 auto;
    font-size: 0;
  }

  &__main {
    width: var(--max-content-width);
    margin: 0 auto;

    &-link {
      display: inline-block;
      margin-top: 30px;
      font-size: 18px;
      color: #4880ed;
    }

    h2 {
      margin: 70px 0 26px 0;
    }
  }

  &__footer {
    width: var(--max-content-width);
    margin: 0 auto;
  }

  &__logo {
    display: inline-block;
    margin-right: 90px;

    img {
      height: 40px;
    }
  }
}
