@import "../variables.css";

.header {
  padding: 25px 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  &__in {
    margin: 0 auto;
    max-width: var(--max-content-width);
  }

  &__head {
    font-size: 0;
    position: relative;
  }

  &__main {
    margin: 0 auto;

    &-link {
      display: inline-block;
      margin-top: 30px;
      font-size: 18px;
      color: #4880ed;
    }

    h1 {
      font-size: 16px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }

    h2 {
      margin: 70px 0 26px 0;
      font-size: 30px;

      @media screen and (min-width: 768px) {
        align-items: left;
        font-size: 45px;
      }
    }
  }

  &__footer {
    margin: 0 auto;
  }

  &__logo {
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-right: 90px;
    }

    img {
      height: 40px;
    }
  }

  &__back {
    margin-top: 40px;
  }

  &__back-link {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4880ed;

    i {
      margin: -3px 10px 0 0;
      transform: rotate(180deg);
    }
  }
}
