.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  height: 520px;
  padding: 54px 0;
  background-image: url('images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__head {
    width: var(--max-content-width);
    margin: 0 auto;
    font-size: 0;
  }

  &__main {
    width: var(--max-content-width);
    margin: 0 auto;

    &-link {
      display: inline-block;
      margin-top: 128px;
      font-size: 22px;
      color: #4880ed;
    }

    h1 {
      margin: 100px 0 30px 0;
    }
  }

  &__footer {
    width: var(--max-content-width);
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__logo {
    display: inline-block;
    margin-right: 43px;

    img {
      height: 35px;
    }
  }

  &__nav {
    display: inline-block;
    vertical-align: top;
    line-height: 35px;

    &-link {
      display: inline-block;
      margin-right: 20px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }
}