.joined {
  //padding-bottom: 60px;
  //border-bottom: #dad9d8 1px solid;

  &__main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 22px;
    line-height: 26px;
  }

  &__item-count {
    margin-bottom: 20px;
    color: #4880ed;
    font-size: 70px;
    font-weight: 300;
    line-height: 1;
  }
}