.joined {
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 22px;
    line-height: 26px;
  }

  &__item {
    margin-top: 48px;
    font-size: 12px;
    font-weight: bold;

    @media screen and (min-width: 767px) {
      font-size: inherit;
      font-weight: normal;  
    }
  }

  &__item-count {
    padding-right: 10px;
    margin-bottom: 20px;
    color: #4880ed;
    font-size: 45px;
    
    font-weight: 300;
    line-height: 1;

    @media screen and (min-width: 767px) {
      font-size: 70px;    
    }  
  }
}