.join {
  padding-bottom: 60px;
  border-bottom: #dad9d8 1px solid;

  &__header {

    h3 {
      font-size: 22px;
      line-height: 1.2;

      @media screen and (min-width: 767px) {
        font-size: 18px;
      }  
    }
  }

  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  &__item {
    flex: 1 1 50%;
    line-height: 26px;
    text-align: center;
    padding: 17px 0 0;

    @media screen and (min-width: 767px) {
      font-size: 22px;
      flex: 1 1 25%;
    }   
  }

  &__item-icon {
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 92px;
    margin: 0 auto 30px auto;
    border-radius: 50%;

    @media screen and (min-width: 767px) {
      width: 135px;
      height: 135px;
      line-height: 137px;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      left: 16px;
      top: 16px;
      right: 16px;
      bottom: 16px;
      box-shadow: 0 0 18px 0 hsla(0, 0%, 0%, 0.12);
      border-radius: 50%;
    }

    &::before {
      
      @media screen and (min-width: 767px) {
        left: 30px;
        top: 30px;
        right: 30px;
        bottom: 30px;
      } 
    }    

    i {
      width: 20px;
      height: 20px;

      @media screen and (min-width: 767px) {
        width: 35px;
        height: 35px;
      }   
    }

    &_color_green {
      background-color: #c2e639;
    }

    &_color_blue {
      background-color: #3f7fe7;
    }

    &_color_yellow {
      background-color: #f7df4a;
    }

    &_color_pink {
       background-color: #dd8de6;
    }

    i {
      width: 35px;
      height: 35px;
    }
  }
}