.map {
  padding-bottom: 60px;
  border-bottom: #dad9d8 1px solid;

  &__header {
    padding-bottom: 32px;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 40px;
  }

  &__surface {
    display: block;
  }

  &__circle {
    transition: transform 0.2s ease;
  }

  &__tooltip {
    background-color: #fff;
    box-shadow: inset 2px 0 0 #5691f1, inset 0 0 0 1px #dad9d8;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease, opacity 0.2s 0.1s ease;
    z-index: 4;

    &_show {
      opacity: 1;
      visibility: visible;
    }

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &-title {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
    }

    &-link {
      color: #4880ed;
      font-size: 14px;
      font-weight: 700;
    }

    &-data {
      dt {
        display: block;
        font-size: 30px;
      }

      dd {
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__footer {
    text-align: center;
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    color: #4880ed;
    text-transform: uppercase;

    @media screen and (min-width: 767px) {
      font-size: 22px;
    }
  }
}
