.nav {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;

  &__link {
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  ul li:last-child a {
    margin-right: 0;
  }

  &__link_active {
    color: #4880ed;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}
