
.providers-page {
  width: 1100px;
  margin: 0 auto;

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 56px;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
  }

  &__back {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 56px;

    a {
      color: #4880ed;
    }

    i {
      margin-top: -4px;
      margin-right: 15px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}


.providers-list {
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: -70px;
  margin-left: -60px;
  text-align: center;

  &__item {
    display: inline-block;
    width: 260px;
    max-width: 100%;
    margin-left: 60px;
    margin-top: 70px;
    text-align: center;
    position: relative;

    img {
      height: 60px;
      margin-bottom: 30px;
      display: inline-block;
    }
  }

  &__item-tooltip {
    padding: 28px 50px;
    background-color: rgba(255, 255, 255, .9);
    opacity: 0;
    display: none;
    font-size: 16px;
    position: absolute;
    margin-top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 326px;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, .1);
    text-align: left;
    z-index: 10;

    a {
      color: #548ef0;
      font-weight: bold;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -12px;
      width: 0;
      height: 0;
      border-bottom: 12px solid white;
      border-top: 0px solid transparent;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
  }

  &__requirements {
    color: #548ef0;
    font-size: 16px;
    font-weight: bold;

    &_active {
      font-weight: bold;
    }

    .icon {
      margin-left: 8px;
      transform: rotate(0deg);
    }
  }

  &__requirements_active + &__item-tooltip {
    opacity: 1;
    display: block;
  }

  &__requirements_active .icon {
    transform: rotate(180deg);
  }
}


.partners {
  display: flex;
  flex-wrap: wrap;

  &__item {
     width: calc(33.33% - 20px);
     padding: 0 20px;
     /*border: 1px solid #efefef;*/
     margin: 0 10px;
     margin-bottom: 20px;

     img {
       text-align: center;
       display: block;
       margin: 0 auto;
       width: 200px;
     }

     &-title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.2em;
     }

     &-video {
         margin-bottom: 20px;
     }

     p {
       font-size: 14px;
       line-height: 20px;
       text-align: left;
       margin-bottom: 20px;
     }
  }
}