
@keyframes slideIn {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

.search {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__aside {
    flex: 0 0 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__map {
    flex: 1 1 auto;
    transform: translate3d(0, 0, 0);
  }

  &__input {
    margin-bottom: 25px;
    padding-left: 70px;
    background: url('../images/icons/search.png') 25px center no-repeat;
    background-size: 23px;
  }

  &__header {
    padding: 16px 60px;
    flex: 0 0 auto;
  }

  &__nav {
    list-style: none;
    border-bottom: #dad9d8 1px solid;
    margin: 0 -60px;
    padding: 0 60px 10px;
  }

  &__nav-item {
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;

    &_active {
      font-weight: 400;
      color: #929399;
    }
  }

  &__result {
    padding: 0 60px;
    list-style: none;
    flex: 1 1 auto;
    overflow: auto;
    transform: translate3d(0, 0, 0);

    &::before,
    &::after {
      content: '';
      display: block;
      height: 36px;
      width: 100%;
    }
  }

  &__result-item {
    margin-bottom: 30px;
    font-size: 14px;
    cursor: pointer;

    &-title {
      font-weight: 700;
    }
  }

  &__result-item_active {
    .search__result-item-title {
      color: #4880ed;
    }
  }

  .gm-style-iw {
    width: 250px !important;
    overflow: visible !important;
    pointer-events: none;
    cursor: pointer;
    z-index: -1;
  }

  .infoBox {
    & > img {
      display: none;
    }
  }

  &__map-tooltip {
    width: 250px;
    /*height: 140px;*/
    padding: 32px;
    background-color: #fff;
    border: #dad9d8 1px solid;
    line-height: 20px !important;
    font: 14px 'GothamPro';
    opacity: 1;
    animation: slideIn 200ms ease-in-out forwards;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: -10px;
      bottom: 0;
      width: 2px;
      background-color: #4880ed;
      z-index: 2;
    }

    &--active {
      animation: none;
      transform: translateY(15px);
    }
  }

  &__map-tooltip-count {
    margin-top: 26px;
    font-size: 30px;
    line-height: 30px;

    small {
      display: block;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
