.search {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__aside {
    flex: 0 0 480px;
    padding: 16px 60px;
  }

  &__map {
    flex: 1 1 auto;
  }

  &__input {
    margin-bottom: 25px;
    padding-left: 70px;
    background: url('../images/icons/search.png') 25px center no-repeat;
    background-size: 23px;
  }

  &__nav {
    list-style: none;
    border-bottom: #dad9d8 1px solid;
    margin: 0 -60px;
    padding: 0 60px 10px;
  }

  &__nav-item {
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;

    &_active {
      font-weight: 400;
      color: #929399;
    }
  }

  &__result {
    margin-top: 36px;
    list-style: none;
  }

  &__result-item {
    margin-bottom: 30px;
    font-size: 14px;
    cursor: pointer;

    &-title {
      font-weight: 700;
    }
  }

  &__result-item_active {
    .search__result-item-title {
      color: #4880ed;
    }
  }

  .gm-style-iw {
    width: 250px !important;
    overflow: visible !important;
    pointer-events: none;
    z-index: -1;
  }

  &__map-tooltip {
    width: 250px;
    height: 330px;
    padding: 32px;
    background-color: #fff;
    border: #dad9d8 1px solid;
    line-height: 20px !important;
    font: 14px 'GothamPro';

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -1px;
      top: -10px;
      bottom: 3px;
      width: 2px;
      background-color: #4880ed;
      z-index: 2;
    }
  }

  &__map-tooltip-count {
    margin-top: 26px;
    font-size: 30px;
    line-height: 30px;

    small {
      display: block;
      font-size: 14px;
      line-height: 14px;
    }
  }
}