# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
vendor/bundle

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Bundler config
.bundle

.idea
.publish
.DS_Store
.tmp
_site
.jekyll-metadata
export

dist/styles
dist/scripts
