language: node_js
services:
- docker
cache:
  directories:
  - ~/.nvm
  - node_modules
notifications:
  slack: 
    rooms:
      - secure: "aT8bVV0DzMS+TkH+BBN5F8Hq3/TinuD1okvizQIKdjAuv7YbBTe2KCjytRf1mmPEq9QU/4sDnt6kk6PWpmz1luePtIBrbYLD/6Nna0NcT3JN22ZtJ01Xkm7NTk9XZxSsMVImO6uamTThD3kZPNayoNFf/CIebbkhDeUT5n2zfLhSxjfA03HStzU496xq/uspZHlBlFpR1W6tYnN37IOpzeBpwo6jCuGs1045fTzemZ1iIl4RLmP/u+7UpAioxnvgSPQI6BDt7j/YNVSBzZFI7WYQ/q2RN45pa/NaKfuklHQ5ZmUQCYpV/xbPHGk59UtML594Y62wFSIXWlLD8u7uDXFlsf6BH5jKcT+QafqH1QJIsi0O8BZJFMYkUnxzDrP42eFeTJjphjEZz+dbAEF9e78XlwwpYZDZwFZqqqfN0QD90N21bbSoiNsXOpFr0GrzHPdKfvnyTPh/BTOY7XJBS9h7+KGzxVrbOPpJ+oP3gTxGD0SA3tkDeEre073fi73AViBdRKwupjikfILqrnhSVYkRRTMO6o3HV25XYG21OUex8fPTgaWoVyyPQy2NKmCR/8M800lIJamn1dhrIAOjAL2skpdeUh5X7lKbxuZvcHs6kRtRZOJzV2QmQYEvF9V9xd4xMZ5aXqx356+P1yWlJaZS2vtlqTLqzXwpcLdPwa4="
    on_success: always
env:
  global:
  - Chart=fe
  - RELEASE_BRANCH="master"
  - DOCKER_HUB_ACCOUNT="edenlabllc"
  - MAIN_BRANCHES="master develop"
  - secure: "DYa6nLKXUU6thuVYB+PiWLlsIR77qko414S+Im8ARH5EPzsYZYUbcQVATqUJzyPQ3CWE2sZ4H9F/1H/GPrKY+n7l64tnRMivMoBWoo7VfOAvfsLl9UtpsGEFb/Tf68sgz9d3RniPkpAZyCeZKt1oxiMUzYWNLc7bZbQiul3KhbJWzkr18mn+Hygx4TIaxS8NrZvFbJOClXH3bvPwHuP7Pm0X4UQIaravGJx67mlCglUsEhMd0OaSooGBqnkhWBa7DWQVX2kPT2XqwI5bagEN2FVtvvVkbctE9GAZBQe+odhMG+dXs9inOdt486u8aSQKWKAGyz8z1Uh4IuN8IorjiliN18fBAQLT8AEKBCHwcJ9NG5awZ0IqbleVr5lqYzCLsMoFRgMH1UdswHJxKdWBvaKRhllwvhLlWoNJTM2yFU7q+JFH6Kjhy0OSW6FxgF57I5bQeuxHjXmALaVFXvqfWGcK7ctsB2rh7wV0r21jOIJnHq+xaZzdJ6cyxZQbqtp4Jhd7CJsB8/WET4R2h8pxj9r6yP7HkqoGctqNHUnhVl8kDRgi4mZHY+26wwfUlLBjqTepxCSpkNRDZBrqm6PXUebp0CGB5TO2++Ttk4I1LqURJjuZy8l4YC7PDbu2do1p248pXHlYwON1QekBpbq3w3s/+CYuiYVC/SBuuwE+Vqs="
  - secure: "cyr46HzbhoHri9e6aCda14Huq8hamMswfKnTJKCbPgOv/Huu24mvbEh6Gg9TM7Y5cZAW3LmTqsZilYplnnWrdysdfwc14dhbiMALK2myhG/6VeoB7cu3dCQRnI6p6f23B/rCGTN3k/ketd9YE3A56I4iASXwjJWSXskR1LzgxITv1Z5UUztuicNIHcHggSWxtX9/vuhZsqijqHkBw/Sit8Ff1HXPGSWAr3DH6N1sRLJIa/SFj9uGS83svvagvkNClhinY0XGXkuMAs+4IBd7dxOkE65d1DW9g/eofYZywPSw3ukLejpD49ci5CK1iwmAkH1vhxffEGtNr4bJpRwJsLbiyjzMOhkrocFgb/FfS5kwihpvZHRSANTRv8vLqGqhjK6kvC6lFlmByRwRe4cxr9XbfOM58hXv4E63nYkQcTeWzvoUNH9VRYR9B6rCbqoyL3vVvZRbHZ7w/PJtIOxj5fRy1rahG+RI2WsrP6p5VB1GW8By8faIXzWQL71/CyQKHbw0FXQwEY1NTBduZA+PvR3wQNYgyCCR27mkjMyYXp3lG0OBSUgmAPNxlsR0Jyu+Z7zavl/d4JJ8CnXgZm8V/0WrLVycAyynDMRRcvA30hBRY46Zhff9DZrFgYed669dpEVgVsGJ9vXdAeK+jCoRqJ5J7MmUND6kpnKxQmlG+uI="
node_js:
- 7.5.0
install:
- openssl aes-256-cbc -K $encrypted_57c23f06a696_key -iv $encrypted_57c23f06a696_iv -in eHealth-eef414faa06b.json.enc -out eHealth-eef414faa06b.json -d
- npm install
- bundler install
before_install:
- chmod -R +x bin
script:
- ./bin/version-increment.sh || travis_terminate 1
- ./bin/build.sh || travis_terminate 1
- ./bin/start.sh || travis_terminate 1
- sleep 5
- docker ps
- RUNNING_CONTAINERS=`docker ps | wc -l`; if [ "${RUNNING_CONTAINERS//[[:space:]]/}"
  == "1" ]; then echo "[E] Container is not started\!"; docker logs nhs.portal.web
  --details --since 5h; exit 1; fi;
- sleep 5
- ./bin/ci/push.sh 
- sudo ./bin/deploy.sh || travis_terminate 1
