.main {
  min-height: calc(100vh - 40px - 100px);
  overflow: hidden;
}

.footer {
  height: 100px;
  padding: 40px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
  overflow: hidden;
}

.link {
  color: #4880ed;
}
