.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;

  &_name_arrow-right {
    background-image: url('../images/icons/arrow-right.svg');
    width: 36px;
  }

  &_name_clinic {
    background-image: url('../images/icons/clinic.png');
    background-size: 100%;
  }

  &_name_doctors {
    background-image: url('../images/icons/doctors.png');
    background-size: 100%;
  }

  &_name_persons {
    background-image: url('../images/icons/persons.png');
    background-size: 100%;
  }

  &_name_doc {
    background-image: url('../images/icons/doc.png');
    background-size: 100%;
  }

  &_name_admin {
    background-image: url('../images/icons/admin.svg');
    background-size: 100%;
  }
}
