@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "icons.css";

@import "blocks/controll.css";
@import "blocks/nav.css";
@import "blocks/header.css";
@import "blocks/search.css";
@import "blocks/form.css";

.map-page {
  display: flex;
  flex-flow: column nowrap;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer {
  flex: 0 0 50px;
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
}

.link {
  color: #4880ed;
}
