@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "icons.css";
@import "tabs.css";
@import "slider.css";
@import "choices.js/assets/styles/css/choices.css";

@import "blocks/nav.css";
@import "blocks/header.css";
@import "blocks/about.css";
@import "blocks/join.css";
@import "blocks/joined.css";
@import "blocks/map.css";
@import "blocks/statistic.css";
@import "blocks/explain.css";
@import "blocks/docs.css";
@import "blocks/contacts.css";
@import "blocks/declarations.css";

body {
  min-width: 320px;
  max-width: 1280px;
}

.header {
  padding: 20px 20px 50px;
  text-align: center;

  @media screen and (min-width: 767px) {
    height: 370px;
    overflow: hidden;
    text-align: left;
  }
}

a:hover {
  cursor: pointer !important;
}

.main {
  min-height: 100vh;
  overflow: hidden;
  padding: 0 20px;

  @media screen and (min-width: 767px) {
    height: auto;
    overflow: hidden;
    text-align: left;
    padding: 0;
  }
}

.main__in {
  max-width: var(--max-content-width);
  min-width: 280px;
  margin: 0 auto;
}

.footer {
  height: 100px;
  padding: 40px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
  overflow: hidden;
}

.link {
  color: #4880ed;
}

.choices__inner {
  background-color: #fff !important;
}

#declarations__graph-canvas {
  margin-top: 70px;
}
