@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "icons.css";
@import "tabs.css";
@import "slider.css";

@import "blocks/nav.css";
@import "blocks/header.css";
@import "blocks/about.css";
@import "blocks/join.css";
@import "blocks/joined.css";
@import "blocks/map.css";
@import "blocks/statistic.css";
@import "blocks/explain.css";
@import "blocks/docs.css";
@import "blocks/contacts.css";
@import "blocks/declarations.css";

body {
  min-width: 1280px;
}

.header {
  height: 370px;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  overflow: hidden;
}

.main__in {
  width: var(--max-content-width);
  margin: 0 auto;
}

.footer {
  height: 100px;
  padding: 40px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
  overflow: hidden;
}

.link {
  color: #4880ed;
}
