@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "icons.css";
@import "tabs.css";

@import "blocks/nav.css";
@import "blocks/header-doc.css";
@import "blocks/article.css";
@import "blocks/clarifications.css";

@import "blocks/providers-page.css";
@import "blocks/about-main.css";


.header__in {
  max-width: var(--max-content-width);
  min-width: var(--min-content-width);
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.main {
  min-height: calc(100vh - 155px - 100px);
}

.main__in {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: 768px) {
      padding: 0 20px;
  } 
}

.footer {
  height: 100px;
  padding: 40px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
}

.link {
  color: #4880ed;
}
