@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "icons.css";
@import "tabs.css";

@import "blocks/nav.css";
@import "blocks/header-doc.css";
@import "blocks/article.css";
@import "blocks/clarifications.css";

body {
}

.header {
  height: 218px;
}

.header__in {
  width: var(--max-content-width);
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 218px - 100px);
}

.main__in {
  width: var(--max-content-width);
  margin: 0 auto;
}

.footer {
  height: 100px;
  padding: 40px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  border-top: #b9dd2f 3px solid;
}

.link {
  color: #4880ed;
}
