* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 1200px;
  min-height: 100vh;
  font: 16px 'GothamPro';
  line-height: 22px;
  background-color: #fff;
  color: #292b37;
}

a {
  color: #292B37;
  text-decoration: none;


  &:hover {
    color: #4880ed;
    cursor: pointer !important;
  }
}

h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
}

h3 {
  margin: 50px 0 48px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

time {
  display: block;
  font-size: 14px;
  line-height: 28px;
}

p {
  margin-bottom: 20px;
}

input, button, textarea {
  font: 14px 'GothamPro';
  color: #292b37;

  &::placeholder {
    color: #292b37;
    opacity: 0.5;
  }
}

input, textarea {
  display: block;
  width: 100%;
  border: #dad9d8 1px solid;
  padding: 16px;
  line-height: 16px;
}

textarea {
  height: 180px;
  max-width: 400px;
}

button,
.btn {
  padding: 28px 62px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5791ef;
  background-image: linear-gradient(to top, rgba(75, 133, 238, 0.67) 0%, rgba(116, 176, 248, 0.67) 99%, rgba(116, 176, 248, 0.67) 100%);
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &.btn--small {
    padding: 14px 28px;
  }
}
