.slider {
  position: relative;
  overflow-x: hidden;

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
  }

  &__slide {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateX(100%);
    will-change: transform;

    &_active {
      transform: translateX(0);
    }
  }

  &__markers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 0;
    list-style: none;
  }

  &__marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #5691f1;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;

    &_active {
      opacity: 1;
    }
  }
}
