.tabs {
  &__header {
    position: relative;
    margin: 0 60px;
    border-bottom: #dad9d8 1px solid;

    &-small {
       margin: 0 260px;
       border-bottom: none;
    }

    &-title {
       font-style: 16px;
       font-weight: 700;
       text-align: center;
       margin-bottom: 45px;

       &-small {
          margin-bottom: 25px;
       }
     }
  }

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    list-style: none;
    margin-bottom: 4px;

    &-small {
       margin: 0 83px;
       border-bottom: 1px solid #dad9d8;
    }
  }

  &__nav-item {
    display: inline-block;
    padding-bottom: 38px;
    cursor: pointer;
    white-space: nowrap;
    //overflow: hidden;

    &_small {
       padding-bottom: 15px;
    }

    &_active {
      font-weight: 700;
      //box-shadow: 0 5px 0 0 #4880ed;
    }

    &_marker {
      box-shadow: 0 5px 0 0 #4880ed;
    }

    &:hover {
      //font-weight: 700;
    }
  }
  &__centered {
   margin: 0 150px;
  }

  &__main {
    position: relative;
    margin-top: 60px;
    //overflow-x: hidden;

    &-small {
       margin-top: 40px;
     }
  }

  &__slide {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    will-change: transform;

    &_active {
      opacity: 1;
       z-index: 1;
      transform: translateX(0);
    }
  }

  &__marker {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 5px;
    background-color: #4880ed;
    z-index: 1;
  }

  &_theme_large {
    .tabs__nav {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
    }

    .tabs__nav-item {
      display: flex;
      align-items: center;
      align-self: stretch;
    }
  }
}