.tooltip {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-transform: none;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  z-index: 3;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    margin-top: 20px;
  }

  &::before {
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    display: block;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: 4;

    @media screen and (min-width: 768px) {
      border: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
  }
}

.info-tooltip-icon {
  display: inline;
  vertical-align: super;
}
